
<div id="newRoom">
    <fieldset>
      <div class="col-5">
        <legend>Create a Video Instruction Room </legend>
        <%= form_for(@new_room) do |f| %>
        <div class="form-group">
          Room Name: <label><%= f.text_field :name %></label> 
          Public? <label><%= f.check_box :public %></label> 
                <input type="submit" name="commit" class="btn btn-primary" value="Create a VIR" data-disable-with="Create a VIR">
        </div>
        <% end %>
      </div>
    </fieldset>
</div>
<br>
<fieldset>
    <legend>Existing VIRs</legend>
    <table class="table table-striped" cellpadding="2" cellspacing="5">
        <thead>
            <th>Name</th>
            <th>Started</th>
        </thead>
        <% @vrooms.each do |room| %>
        <tbody>
            <td align="center" width="300px"><a href="/party/<%= room.id %>"><%=room.name %></a></td>
            <td><%= room.created_at.strftime("%b %d, %Y") %></td>
        </tbody>
        <% end %>
    </table>
</fieldset>




