<br>
<div class="row">
    <div class="col-11">
      <legend>Create a room</legend>
      <form action="/rooms" method="post">
        <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token =%>'>
        <div class="form-group">
          <label for="room[title]">Title</label>
          <input type="text" class="form-control" name="room[title]" id="room[title]" placeholder="">
        </div>
        <button type="submit" class="btn btn-primary">Create a VWB</button>
      </form>
      <legend>Existing VWBs</legend>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Instructor</th>
                        <th>Started</th>
                        <th>Join</th>
                    </tr>
                </thead>
                <% if @rooms %>
                <tbody>
                    <% @rooms.each do |room| %>
                    <tr>
                        <td scope="row"><%= room.title %></td>
                        <td><%= room.user.name %></td>
                        <td><%= room.created_at.strftime("%b %d, %Y") %></td>
                        <td><a name="join" id="join" class="btn btn-success" href="/rooms/<%= room.id %>" role="button">Join</a></td>
                    </tr>
                    <%end%>
                </tbody>
                <%end%>
            </table>
        </div>
  </div>    