
<br>
<div class="row">
    <div class="col-3">
        <h2>How it works</h2>
        <p>Code/Split allows you to create or join rooms where you can learn and collaborate with others. The code editor will mirror the active user's code to others in the room so you can perform remote paired coding.</p>
    </div> <!-- col end -->
    <div class="col-9">
        <%= image_tag "demo.gif",  :class => "demo_gif" %>
    </div> <!-- col end -->
</div> <!-- row end -->
<div class="row">
    <div class="col-4">
      <legend>Create a room</legend>
      <form action="/rooms" method="post">
        <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token =%>'>
        <div class="form-group">
          <label for="room[title]">Title</label>
          <input type="text" class="form-control" name="room[title]" id="room[title]" placeholder="">
        </div>
        <div class="form-group">
          <label for="language">Language</label>
          <select class="form-control" name="room[language]" id="room[language]">
            <option value="fortran">Fortran</option>
            <option value="go">Go</option>
            <option value="haskell">Haskell</option>
            <option value="javascript">Javascript</option>
            <option value="php">Php</option>
            <option value="python" selected="selected">Python</option>
            <option value="ruby">Ruby</option>
            <option value="swift">swift</option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary">Create a room</button>
      </form>
      </div>
      <div class="col-8">
      <legend>Existing rooms</legend>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Instructor</th>
                        <th>Language</th>
                        <th>Started</th>
                        <th>Join</th>
                    </tr>
                </thead>
                <% if @rooms %>
                <tbody>
                    <% @rooms.each do |room| %>
                    <tr>
                        <td scope="row"><%= room.title %></td>
                        <td><%= room.user.name %></td>
                        <td><%= room.language %></td>
                        <td><%= room.created_at.strftime("%b %d, %Y") %></td>
                        <td>
                            <a name="join" id="join" class="btn btn-success" href="/rooms/<%= room.id %>" role="button">Join</a>
                            <% if user_signed_in? %>
                                <% if room.user.name == current_user.name %> 
                                    <a name="delete" id="delete" class="btn btn-danger" data-method="delete" href="/rooms/<%= room.id %>" role="button">Delete</a>
                                <% end %>
                            <% end %>
                        </td>
                    </tr>
                    <%end%>
                </tbody>
                <%end%>
            </table>
        </div>
  </div>    
