
<br>
<div class="row">
    <div class="col-4">
      <legend>Create a room</legend>
      <form action="/rooms" method="post">
        <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token =%>'>
        <div class="form-group">
          <label for="room[title]">Title</label>
          <input type="text" class="form-control" name="room[title]" id="room[title]" placeholder="">
        </div>
        <div class="form-group">
          <label for="language">Language</label>
          <select class="form-control" name="room[language]" id="room[language]">
            <option value="coffeescript">coffeescript</option>
            <option value="commonlisp">commonlisp</option>
            <option value="erlang">erlang</option>
            <option value="fortran">fortran</option>
            <option value="go">go</option>
            <option value="haskell">haskell</option>
            <option value="htmlembedded">htmlembedded</option>
            <option value="htmlmixed">htmlmixed</option>
            <option value="javascript">Javascript</option>
            <option value="pascal">pascal</option>
            <option value="perl">perl</option>
            <option value="php">php</option>
            <option value="python">Python</option>
            <option value="ruby">Ruby</option>
            <option value="sql">sql</option>
            <option value="swift">swift</option>
            <option value="yaml">yaml</option>
          </select>
        </div>
        <!-- <input type="hidden" name="room[typist]" id="room[typist]" value=""> -->
        <button type="submit" class="btn btn-primary">Create a room</button>
      </form>
      </div>
      <div class="col-8">
      <legend>Existing rooms</legend>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Instructor</th>
                        <th>Language</th>
                        <th>Started</th>
                        <th>Join</th>
                    </tr>
                </thead>
                <% if @rooms %>
                <tbody>
                    <% @rooms.each do |room| %>
                    <tr>
                        <td scope="row"><%= room.title %></td>
                        <td><%= room.user.name %></td>
                        <td><%= room.language %></td>
                        <td><%= room.created_at.strftime("%b %d, %Y") %></td>
                        <td>
                            <a name="join" id="join" class="btn btn-success" href="/rooms/<%= room.id %>" role="button">Join</a>
                            <% if room.user.name == current_user.name %> 
                            <a name="delete" id="delete" class="btn btn-danger" data-method="delete" href="/rooms/<%= room.id %>" role="button">Delete</a>
                            <% end %>
                        </td>
                    </tr>
                    <%end%>
                </tbody>
                <%end%>
            </table>
        </div>
  </div>    
