<script src="/assets/codemirror/lib/codemirror.js"></script>
<link rel="stylesheet" href="/assets/codemirror/lib/codemirror.css">
<link rel="stylesheet" href="/assets/codemirror/theme/cobalt.css">

<script src="<%= @language %>"></script>
<script type="text/javascript" src="/javascript/code_room.js"></script>
<div class="row">
    <div class="col-6">
        <h1><%= @room.title %></h1>
        <p>Instructor: <%= @room.user.name %></p>
    </div>
    <div class="col-2">
        <h4 class="mt-5">Users<a href="#" data-toggle="tooltip" title="Hooray!"></a></h4>
    </div>
    <div class="col-4">
        <h3 class="mt-5">Chat</h3>
        <p><span class="glyphicon glyphicon-info-sign"></span></p>
    </div>
</div>
<div class="row">
    <div class='col-6' id="codeMirror">
        <input type="hidden" name="roomId" id="roomId" value="<%= @room.id %>">
        <input type="hidden" name="startingCode" id="startingCode" value="<%= @room.code %>">
        <input type="hidden" name="startingCode" id="startingTypist" value="<%= @room.typist %>">
        <input type="hidden" name="user_name" id="user_name" value="<%= current_user.name %>">
        <input type="hidden" name="instructor" id="instructor" value="<%= @room.user.name %>">
        <input type="hidden" name="language" id="language" value="<%= @room.language %>">
    </div>
    <div class="col-2 users">
    </div>
    <div class="col-4 chatArea">
        <div class="chatBox">
        </div>
        <form action="">
            <div class="form-group">
              <input type="text" class="form-control" autocomplete="off" name="chatMessage" id="chatMessage" aria-describedby="helpId" placeholder="">
            </div>
        </form>
    </div>
</div>